body{
    background: linear-gradient(135deg, #e5e7eb, #f9fafb);
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    align-items: center;   
}
#number{
    text-align:end;
    font-size: 20px;
}
#container{
    display: flex;
    flex-direction: column;
    border: 1px solid;
    height: 420px;
    width: 300px;
    border-radius: 20px;
    padding: 10px;
    background-color: #111827;
    gap: 10px;
    transform: scale(1.2);
}
button{
    width: 60px;
    height: 50px;
    border-radius: 12px;
    background-color: #1f2937;
    font-size: 20px;
    border: 1px solid #374151;
    color: #f9fafb;
    margin: 2px;
    font-weight: bold;
}
#integer{
    display: flex;
    flex-direction: column;
    
}
#operator{
    display: flex;
    align-items: end;
    margin-bottom: 0px;
    flex-direction: column;
    color:black;
}
#extra{
    display: flex;
    justify-content: end;

}
#delete,#clear{
    width: 90px;
}

#grid{
    display: flex;
    width: 280px;
    height: 50px;
    align-content: center;
    margin-left: 10px;
    background: #222826; 
    border-radius: 12px;
    color: #9ef01a;
    align-items: end;
    justify-content: end;
    font-size: 25px;
    font-weight: bold;
    overflow: hidden;
    margin-top: 40px;
    margin-bottom: 10px;
}
#wrapper{
    margin: 10px;
    display: flex;
    flex-direction: row-reverse;
    gap: 15px;

}

body , #header ,#container{
    user-select: none;
}
#grid, button {
    font-family: 'Orbitron', sans-serif;

}

button:hover{
    background: #475569;
}
#delete:hover{
    background: #3b82f6;
}
#clear:hover{
    background-color: #ef4444;;
}






